node_modules/
dist/
.DS_Store
*.log
data/*.db
data/*.db-wal
data/*.db-shm
data/kanji-svg/
resources/
.env
.env.*
*.tsbuildinfo
packages/importer/**/*.db
packages/importer/**/*.db-wal
packages/importer/**/*.db-shm
